{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>What Chatan wants...</h1>
    <ul>
        <li>La conquête du monde :
            <p>Chatan rêve de prendre le contrôle du monde, et pour y parvenir, elle a développé des plans sournois
                impliquant des lasers oculaires, des colliers miaulants et une secte de souris mystiques. Elle sait que
                pour réussir, elle a besoin de l'aide de ses adorateurs chataniques dévoués.</p>
        </li>
        <li>Appel aux adorateurs chataniques :
            <p>Chatan recherche activement des adorateurs chataniques prêts à se plier à ses désirs. En échange de
                caresses, de jeux et de rationnement de croquettes, elle promet d'accorder à ses fidèles une place de
                choix dans son règne diabolique.</p>
        </li>
    </ul>

{% endblock %}