{% extends 'base.html.twig' %}

{% block body %}
    <h2>Ambitions démoniaques</h2>

    <section class="chatan">
        <img src="{{ asset('img/chatan.jpg') }}" alt="Chatan sur une poutre">
        <p>Depuis sa tendre enfance féline, Chatan a nourri des ambitions aussi grandes que son appétit pour les
            croquettes. À l'approche de son premier anniversaire, elle a décidé que le moment était venu de révéler sa
            véritable nature diabolique au monde.</p>
        <br>
        <p>Date de début de la conquête mondiale : À révéler, car même Chatan aime maintenir un certain suspense
            diabolique.</p>
    </section>
{% endblock %}

{% block title %}
    {{ parent() }} | About Chatan

{% endblock %}

