{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Create new evil plan
{% endblock %}

{% block body %}
    <div class="create-plan">
        <h2>Create a new evil plan</h2>
        {{ form_start(wishForm) }}

        {{ form_widget(wishForm) }}

        <button>Chataniser</button>

        {{ form_end(wishForm) }}
    </div>


{% endblock %}

