{% extends 'base.html.twig' %}

{% block body %}
    <section class="plan-list">
        <h2>Chatan's evil plans</h2>
        {% for wish in wishes %}
            <article>
                <a href="{{ path('app_wish_list-details', {'id':wish.id}) }}" title="Wish details">{{ wish.title }}</a>
                <p>{{ wish.description }}</p>
            </article>
        {% endfor %}
    </section>


{% endblock %}

{% block title %}
    {{ parent() }} | Chatan list

{% endblock %}